/* Nest Hub Max */
@media screen and (max-width:1280px) {
    
}
/* Nest Hub */
@media screen and (max-width:1024px) {
    .menu_class{
    width: 48%;
} 
#art4_div2{
    width: 100%;
    margin-top: 5%;
} 
#enjoy_meal{
    font-size: 50px;
}  
.sec2_paragraph{
    font-size: 17px;
}
.art2_h3{
    font-size: 25px;
}
#popular{
    font-size: 25px;
}
#welcome1{
    font-size: 30px;
}
.art2_h3{
    font-size: 20px;
}
 

}
/* Surface Pro 7 */
@media screen and (max-width:912px) {
    #bookTable_online{
        font-size: 25px;
    }
    #art4_div2{
    width: 95%;
    margin-top: 4%;
}
}
/* For ipad Air */
@media screen and (max-width:820px) {
    #cravehub{
        font-size: 20px;
    }
    .sec2_paragraph{
        font-size: 12px;
    }
    #art4_div2{
    width: 100%;
    margin-top: 15px;
}
#emailfooter{
    font-size: 14px;
}

}
/* For ipad mini */
@media screen and (max-width:768px) {
    #cravehub{
        font-size: 15px;
    }
    #logo_img{
        width: 25px;
    }
    .booktable_head{
        width: 100%;
        font-size: 15px;
    }
    #nav_div1{
        padding-top: 10%;
    }

    
}
/* For surface duo */
@media screen and (max-width:540px) {
    
    
}
/* For iphone 14 proMax */
@media screen and (max-width:430px) {
    
}
/* For iphone XR */
@media screen and (max-width:414px) {
    
}
/* For Samsung Galaxy S20 Ultra */
@media screen and (max-width:412px) {
    
}

@media screen and (max-width:393px) {
    
}
/* For iphone 12 Pro */
@media screen and (max-width:390px) {
    
}
/* For iphone X */
@media screen and (max-width:375px) {
    
}
/* For Samsung Galaxy S8+ */
@media screen and (max-width:360px) {
    
}
/* For Galaxy Z fold 5 */
@media screen and (max-width:344px) {
    
}
/* For iphone 5/SE */
@media screen and (max-width:320px) {
    
}
@media screen and (max-width:280px) {
    
}

