/* Nest Hub Max */
@media screen and (max-width:1280px) {
    
}
/* Nest Hub */
@media screen and (max-width:1024px) {
#art3_innerDiv2{

}
    .menu_class{
    width: 30%;

}    

}
/* Surface Pro 7 */
@media screen and (max-width:912px) {
    
}
/* For ipad Air */
@media screen and (max-width:820px) {

}
/* For ipad mini */
@media screen and (max-width:768px) {
    
}
/* For surface duo */
@media screen and (max-width:540px) {
    
    
}
/* For iphone 14 proMax */
@media screen and (max-width:430px) {
    
}
/* For iphone XR */
@media screen and (max-width:414px) {
    
}
/* For Samsung Galaxy S20 Ultra */
@media screen and (max-width:412px) {
    
}

@media screen and (max-width:393px) {
    
}
/* For iphone 12 Pro */
@media screen and (max-width:390px) {
    
}
/* For iphone X */
@media screen and (max-width:375px) {
    
}
/* For Samsung Galaxy S8+ */
@media screen and (max-width:360px) {
    
}
/* For Galaxy Z fold 5 */
@media screen and (max-width:344px) {
    
}
/* For iphone 5/SE */
@media screen and (max-width:320px) {
    
}
@media screen and (max-width:280px) {
    
}

