/* Nest Hub Max */
@media screen and (max-width:1280px) {
    
}
/* Nest Hub */
@media screen and (max-width:1024px) {
    .menu_class{
    width: 48%;
} 
#art4_div2{
    width: 100%;
    margin-top: 5%;
} 
#enjoy_meal{
    font-size: 50px;
}  
.sec2_paragraph{
    font-size: 17px;
}
.art2_h3{
    font-size: 25px;
}
#popular{
    font-size: 25px;
}
#welcome1{
    font-size: 30px;
}
.art2_h3{
    font-size: 20px;
}
 

}
/* Surface Pro 7 */
@media screen and (max-width:912px) {
    #bookTable_online{
        font-size: 25px;
    }
    #art4_div2{
    width: 95%;
    margin-top: 4%;
}
#ejoymeal_paragraph{
    line-height: 1.5;
}
.paragraph2{
    line-height: 1.5;
}
.food_menu_tag{
    line-height: 1.5;
}
}
/* For ipad Air */
@media screen and (max-width:820px) {
    #cravehub{
        font-size: 20px;
    }
    .sec2_paragraph{
        font-size: 12px;
    }
    #art4_div2{
    width: 100%;
    margin-top: 15px;
}
#emailfooter{
    font-size: 14px;
}
.sec2_paragraph{
    line-height: 1.5;
}
#readMore{
    width: 60%;
}

}
/* For ipad mini */
@media screen and (max-width:768px) {
    #cravehub{
        font-size: 15px;
    }
    #logo_img{
        width: 25px;
    }
    .booktable_head{
        width: 100%;
        font-size: 15px;
    }
    #nav_div1{
        padding-top: 10%;
    }
    #enjoy_meal_button{
        width: 50%;
    }
    
}
/* For surface duo */
@media screen and (max-width:540px) {
    .article1{
        flex-direction: column;
    }
    .article1_div{
        width: 100%;
    }
    
    #ulisting{
        display: none;
    }
    #burger_img{
        display: flex;
    }
    #enjoy_meal{
        font-size: 30px;
    }
    #ejoymeal_paragraph{
        font-size: 15px;
    }
    #enjoy_meal_button{
        width: 70%;
    }
    .article2_div2{
        width: 48%;
    }
    #article2_div1{
        flex-wrap: wrap;
    }
    .article2_div2{
        padding: 10px;
    }
    .art2_h3{
        text-align: center;
    }
    #article2_div12{
        flex-direction: column;
    }
    #article2_div12_div{
        width: 100%;
    }
    #article2_div12_div2{
        width: 100%;
    }
    #art3_innerDiv2{
        flex-direction: column;
    }
    .menu_class{
        width: 100%;
    }
    #footer_article_div{
        flex-direction: column;
    }
    .footer_div1{
        width: 90%;
        text-align: center;
    }
    #art4_div1{
        width: 100%;
    }
    .paragraph2{
        padding: 1px;
        line-height: 1.5;
    }
    
    
}
/* For iphone 14 proMax */
@media screen and (max-width:430px) {
    
}
/* For iphone XR */
@media screen and (max-width:414px) {
    #footer_article_div2{
        font-size: 15px;
    }
   
}
/* For Samsung Galaxy S20 Ultra */
@media screen and (max-width:412px) {
    
}

@media screen and (max-width:393px) {
    
}
/* For iphone 12 Pro */
@media screen and (max-width:390px) {
    
}
/* For iphone X */
@media screen and (max-width:375px) {
    
}
/* For Samsung Galaxy S8+ */
@media screen and (max-width:360px) {
    
}
/* For Galaxy Z fold 5 */
@media screen and (max-width:344px) {
    
}
/* For iphone 5/SE */
@media screen and (max-width:320px) {
    
}
@media screen and (max-width:280px) {
    
}

