*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
#navigation{
    width: 100%;
    background-color: rgb(92, 116, 124);
}
#navigation_div{
    width: 96%;
    background-color: rgb(92, 116, 124);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#ulisting{
    display: flex;
    
}
#ulisting li{
    margin: 5px;
}
.article1_div{
    width: 49%;
    background-color: rgb(92, 116, 124);
    margin: auto;
    margin: 1px;
    padding: 2%;
}
.article1{
    background-color: rgb(92, 116, 124);
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}
#hero{
    width: 90%;
}
#enjoy_meal{
    font-size: 5rem;
}
#enjoy_meal_button{
    padding: 15px;
    width: 35%;
    margin-top: 15px;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
#ejoymeal_paragraph{
    font-size: 20px;
}
#bookTable{
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}
#selectoption{
    background-color: rgb(92, 116, 124);
}
#sec2{
    background-color: white;
    width: 100%;
}
#article2{
    width: 90%;
    background-color: white;
    margin: auto;
}
#article2_div1{
    width: 100%;
    background-color: white;
    display: flex;
    
}
#article2_div12{
    width: 100%;
    background-color: white;
}
.article2_div2{
    width: 25%;
    background-color: white;
    margin: 1px;
    padding: 2%;
}
.article2_div2 h3{
    font-size: 30px;
}
.article2_div2 p{
    font-size: 18px;
}
.article2_div2:hover{
    background-color: orange;
}
.sec2_paragraph{
    padding: 10px;
}
.article2_img{
    width: 40px;
}
.article2_img_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#article2_div12{
    width: 100%;
    background-color: white;
    display: flex;
}
#article2_div12_div{
    width: 49%;
    background-color: white;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
}
#article2_div12_div2{
    width: 49%;
    background-color: white;
    margin: 1px;
}
.img_innerDivs{
    width: 48%;
    background-color: white;
    margin: 5px;
}

.about1{
    width: 100%;
}
#about2{
    width: 75%;
    margin-left: 25%;
}
#about21{
    width: 75%;
    padding-top: 25%;
}
#div3_art{
    padding: 5%;
}

#readMore{
    width: 40%;
    border: none;
    margin: 5%;
    background-color: orange;
    padding: 10px;
    font-size: 20px;
}
#welcome1{
    font-size: 60px;
}
.paragraph2{
    font-size: 20px;
}
#sec3{
    width: 100%;
    background-color: white;
}
#art3{
    width: 90%;
    margin: auto;
}
#art3_innerDiv{
    background-color: white;
    margin: 1px;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 10%;
}
#art3_innerDiv h4{
    font-size: 20px;
}
#art3_innerDiv h1{
    font-size: 40px;
}
#art3_innerDiv2{
    background-color: white;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu_class{
    width: 49%;
    background-color: white;
    margin: 5px;
    padding: 2px;
}

/* price divs begins here */
.menu_class{
    display: flex;
}
.imgg{
    width: 19%;
    background-color: white;
}
.ptag{
    width: 58%;
    background-color: white;
}
.price{
    width: 19%;
    background-color: white;
}
.price h3{
    padding-top: 35%;
    float: right;
}
.mealtime2{
    margin: 10px;
    padding: 3px;
}
#mealtime{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec4{
    width: 100%;
    background-color: white;
}
#art4{
    width: 90%;
    background-color: white;
    margin: auto;
}
#art4_div1{
    width: 70%;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#art4_div2{
    width: 95%;
    margin: auto;
    text-align: center;
}
.input_booking{
    padding: 15px;
}
#date1{
    width: 195px;
}
#noOfpeople{
    width: 198px;
}
#textarea1{
    width: 62%;
    margin-top: 2%;
    padding: 25px;
}
#button1{
    width: 62%;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* footer begins here */
#footer{
    width: 100%;
    background-color: #0f172d;
    color: gray;
}
#footer_article{
    width: 90%;
    background-color: #0f172d;
    margin: auto;
}
#footer_article_div{
    width: 100%;
    background-color: #0f172d;
    display: flex;
}
#footer_article_div2{
    width: 100%;
    background-color: #0f172d;
    padding-top: 3%;
     padding-bottom: 3%;
}
.footer_div1{
    width: 25%;
    background-color: #0f172d;
    margin: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.footer_input{
    padding: 6px;
}
.footer_div1 h2{
    color: orange;
}
